<section
  class="FaqsContainer">
  <h2>Preguntas Frecuentes</h2>

  @for (question of faqs; track $index) {
    <div class="FaqItem">
      <button
        class="FaqQuestion"
        type="button"
        (click)="toggle($index)">
        {{ question.question }}
        <fa-icon
          [icon]="openIndex === $index ? faChevronUp : faChevronDown"
          class="FaqIcon">
        </fa-icon>
      </button>
      @if (openIndex === $index) {
        <div class="FaqAnswer">
          <p>{{ question.answer }}</p>
        </div>
        }
    </div>
  }
</section>
