<section class="BarberServices">
  <div class="BarberServices-Container">
    <div class="BarberServices-Container-Header">
      <h1>Nuestros Servicios</h1>
      <p>
        Ofrecemos una amplia gama de servicios de barbería profesional,
        combinando técnicas tradicionales con tendencias modernas para brindarte
        la mejor experiencia.
      </p>
    </div>

    <div class="BarberServices-Container-Options">
      @for (service of services; track $index) {
        <div class="Card">
          <div class="Card-ServiceImage">
            <img src="service.image" alt="service.name" />
          </div>
          <div class="Card-ServiceInformation">
            <div class="Card-ServiceInformation-Header">
              <div>
                <h2>{{ service.name }}</h2>
                <p>{{ service.description }}</p>
              </div>
              <div class="Card-ServiceInformation-Header_Price">
                <span>{{ service.price }}</span>
                <div class="Card-ServiceInformation-Header_Duration">
                  <fa-icon class="icon" [icon]="faClock"></fa-icon>
                  {{ service.duration }}
                </div>
              </div>
            </div>

            <div class="Card-ServiceInformation-Includes">
              <h3>El servicio incluye:</h3>
              <ul>
                @for (feature of service.features; track $index) {
                  <li>
                    <fa-icon class="icon" [icon]="faCheck"></fa-icon>
                    <span>{{ feature }}</span>
                  </li>
                }
              </ul>
            </div>

            <div class="Card-ServiceInformation-Request">
              <a href="/cita">
                <fa-icon [icon]="faScissors"></fa-icon>
                Reservar este servicio
              </a>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
