<section class="Hero">
  <div class="HeroContainer">
    <h1 class="HeroContainer-Title">Estilo y Precisión en Cada Corte</h1>
    <p class="HeroContainer-Description">Descubre la experiencia de una barbería profesional con más de 10 años y excelencia</p>
    <div class="HeroContainer-Appointments">
      <a class="HeroContainer-Appointments-Date" routerLink="/citas">Agendar Cita</a>
      <a class="HeroContainer-Appointments-Services" routerLink="/services">Nuestros Servicios</a>
    </div>
  </div>
</section>
