<section class="FormAndSocialMedia">
  <!-- Formulario de contacto -->
  <div class="Container">
    <h2>Envíanos un Mensaje</h2>
    <p>
      Si tienes alguna pregunta, comentario o simplemente quieres saludarnos,
      ¡no dudes en enviarnos un mensaje! Estamos aquí para ayudarte.
    </p>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="Form-Data">
        <div>
          <label for="name">Nombre</label>
          <input
            type="text"
            id="name"
            name="name"
            formControlName="name"
            required />
        </div>
        <div>
          <label for="email">Correo Electrónico</label>
          <input
            type="email"
            id="email"
            name="email"
            formControlName="email"
            required />
        </div>
      </div>

      <div class="Form-Data">
        <div>
          <label for="phone">Teléfono</label>
          <input type="tel" id="phone" name="phone" formControlName="phone" />
        </div>
        <div>
          <label for="subject">Asunto</label>
          <select
            id="subject"
            name="subject"
            formControlName="subject"
            required>
            @for (subject of subjectOptions; track $index) {
              <option [disabled]="$index === 0" [value]="subject.value">
                {{ subject.label }}
              </option>
            }
          </select>
        </div>
      </div>

      <div class="Form-Message">
        <label for="message">Mensaje</label>
        <textarea
          id="message"
          name="message"
          rows="5"
          formControlName="message"
          required></textarea>
      </div>

      <div class="Form-Submit">
        <button type="submit" [disabled]="form.invalid">
          Enviar Mensaje
          <fa-icon [icon]="faPaperPlane"></fa-icon>
        </button>
      </div>
    </form>
  </div>

  <!-- Redes sociales -->
  <div class="Container">
    <h2>Síguenos</h2>
    <p>
      Mantente al día con nuestras últimas promociones, estilos y consejos de
      cuidado personal siguiéndonos en nuestras redes sociales.
    </p>

    <div class="Social-Media">
      <div class="Social-Media-Links">
        <a
          href="https://facebook.com/barberstyle"
          target="_blank"
          rel="noopener noreferrer">
          <fa-icon [icon]="faFacebook"></fa-icon>
          <span>Facebook</span>
        </a>

        <a
          href="https://instagram.com/barberstyle"
          target="_blank"
          rel="noopener noreferrer">
          <fa-icon [icon]="faInstagram"></fa-icon>
          <span class="font-medium">Instagram</span>
        </a>

        <a
          href="https://twitter.com/barberstyle"
          target="_blank"
          rel="noopener noreferrer">
          <fa-icon [icon]="faTiktok"></fa-icon>
          <span class="font-medium">TikTok</span>
        </a>
      </div>

      <div class="Contact-Info">
        <h3>Contacto Directo</h3>
        <p><span>Email:</span> infobarberstyle.com</p>
        <p><span>Teléfono:</span> (+503) 2121-2222</p>
      </div>
    </div>
  </div>
</section>
