<section class="Contact">
  <div class="Contact-Container">
    <div class="Contact-Header">
      <h1>Ruffians</h1>
      <p>
        Estamos aquí para ayudarte. Contáctanos para agendar una cita, resolver
        dudas o recibir más información sobre nuestros servicios.
      </p>
    </div>

    <!-- {/* Sucursales */} -->
    <app-subsidiaries />

    <!-- {/* Formulario de contacto y redes sociales */} -->
    <app-form-social-media />

    <!-- {/* Preguntas frecuentes */} -->
    <app-faq />

    <!-- /* Mapa (placeholder) */ -->
    <app-map />
  </div>
</section>
