<section class="Testimonials">
  <div class="TestimonialsContainer">
    <div class="TestimonialsContainer-Header">
      <h2 class="">Lo Que Dicen Nuestros Clientes</h2>
      <p class="">
        La satisfacción de nuestros clientes es nuestra mejor carta de
        presentación.
      </p>
    </div>

    <div class="TestimonialsContainer-Card">
      @for (testimonial of testimonials; track $index) {
        <div class="TestimonialsContainer-Card_Content">
          <div class="TestimonialsContainer-Card_Content-Data">
            <div class="TestimonialsContainer-Card_Content-Data-Image">
              <img src="../../../../assets/images/placeholder.svg" alt="" />
            </div>
            <div class="TestimonialsContainer-Card_Content-Data-Info">
              <h4 class="">{{ testimonial.name }}</h4>
              <p class="">{{ testimonial.role }}</p>
            </div>
          </div>
          <p class="Testimonial">"{{ testimonial.content }}"</p>
        </div>
      }
    </div>
  </div>
</section>
